#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1 {
       font-family: 'Poppins', sans-serif;
     }

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.circular-image {
  width: 200px; /* Set the width */
  height: 200px; /* Set the height to the same value as width */
  overflow: hidden; /* Hide any overflow */
  border-radius: 50%; /* Make the container circular */
  display: flex; /* Center the image */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.circular-image img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container without stretching */
}